<section id="portfolio-full" class="portfolio">

  <div class="container-fluid" ng-controller="PortfolioCtrl">

    <div class="row" ng-repeat="tileGrp in tiles">
      <div class="col-xs-12" ng-class="{'col-md-4': $parent.$even, 'col-md-6': $parent.$odd}" ng-repeat="tile in tileGrp">
        <img src="media/portfolio/img{{tile.id}}.jpg"/>
        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell" ng-bind-html="trustAsHtml(tile.text)"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
