<section id="portfolio-full" class="portfolio">

  <div class="container-fluid">

    <!-- A PARTIR DAQUI -->
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img1.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">APARTMENT Liberty Avenue</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img2.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">APARTMENT Liberty Avenue</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img3.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">APARTMENT Liberty Avenue</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img src="media/portfolio/img4.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <img src="media/portfolio/img5.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img6.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img7.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img8.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img src="media/portfolio/img10.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <img src="media/portfolio/img9.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img11.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img12.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img13.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img src="media/portfolio/img17.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <img src="media/portfolio/img18.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img19.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img20.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img21.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img src="media/portfolio/img22.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <img src="media/portfolio/img23.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img24.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img25.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img26.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img src="media/portfolio/img27.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <img src="media/portfolio/img28.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img29.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img30.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img13.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img src="media/portfolio/img35.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <img src="media/portfolio/img36.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img14.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img16.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="media/portfolio/img15.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img src="media/portfolio/img37.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <img src="media/portfolio/img38.jpg"/>

        <div class="hover">
          <div class="table">
            <div class="inner">
              <div class="cell">foo</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ACABA AQUI -->

  </div>
</section>
