html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Open Sans', 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.brand-text {
    font-size: 1.5em;
}